[defaults]
inventory = /home/xiaodong/archstrap/inventory
roles_path = /home/xiaodong/archstrap/roles
remote_user = root

[ssh_connection]
ssh_args = -o ControlMaster=auto -O ControlPersist=60s -o StrictHostKeyChecking=no
control_path = %(directory)s/ansible-ssh-%%h-%%p-%%r
